:root {
  --green: #80b299;
  --red: #e17a5f;
  --blue: #3e405b;
  --cream: #f4f1e0;
  color: black;

  --font-size-small: 0.875rem; /* 14px */
  --font-size-medium: 1rem; /* 16px */
  --font-size-large: 1.125rem; /* 18px */
  --font-size-Xlarge: 1.25rem; /* 20px */
  --font-size-XXlarge: 1.5rem; /* 24px */

  --font-weight-thin: 100;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --spacing-small: 1rem;
  --spacing-standard: 2rem;
  --spacing-big: 5rem;

  --border-radius-btn: 5px;
  --border-radius-box: 10px;
}

* {
  font-family: "omnes";
}

body {
  margin: var(--spacing-standard) 0 0 0;
}

h2 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
  color: black;
}

h4 {
  font-size: var(--font-size-XXlarge);
  font-weight: var(--font-weight-bold);
  color: #3e405b;
  padding-bottom: var(--spacing-standard);
}

p {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  color: black;
}

.small {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-thin);
  color: black;
}

.button-1 {
  background-color: var(--green);
  border-width: 0;
  border-radius: var(--border-radius-btn);
  width: 6rem;
  height: 2rem;
}

.input-1 {
  border-width: 1px;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-btn);
  width: var(--spacing-big);
}

main {
  margin: var(--spacing-standard) 0 var(--spacing-standard) 0;
}

.hover-1 {
  transition: font-size 0.3s ease, font-weight 0.3s ease;
}

/* HOVER */

.button-1:hover {
  transform: scale(1.05);
  font-weight: var(--font-weight-semibold);
}

.hover-1:hover {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
}

.hover-2:hover {
  transform: scale(1.05);
  font-weight: var(--font-weight-semibold);
}

.event-card:hover,
.event-container:hover {
  transform: scale(1.02);
  font-weight: var(--font-weight-semibold);
  box-shadow: 0.3em 0.3em 1em grey;
}

.slide-show button:hover {
  transform: scale(1.02);
}

/* Header Big */

.small-header {
  display: none;
}

header {
  margin-bottom: var(--spacing-big);
}

.desktop-header nav {
  width: 100%;
  box-sizing: border-box;
  padding: 0 var(--spacing-big) 0em var(--spacing-big);
}

.desktop-header ul {
  display: flex;
  flex-direction: row;
  color: black;
  list-style: none;
  padding: 0%;
  justify-content: space-between;
  align-items: center;
}

.desktop-header a {
  text-decoration: none;
  color: var(--blue);
  font-size: 20;
}

.desktop-header img {
  width: 4rem;
  margin-left: auto;
  margin-right: auto;
}

/* header small */

@media screen and (max-width: 613px) {
  .desktop-header {
    display: none;
  }

  .small-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--spacing-small) 0em var(--spacing-small);
  }

  .right-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .heart {
    scale: 1.5;
    color: black;
  }

  .small-header img {
    width: 4rem;
    padding-left: 2rem;
  }

  /* this was found and used from
 * https://codepen.io/designcouch/pen/ExvwPY
 */

  #nav-icon1 {
    scale: 0.4;
    width: 60px;
    height: 45px;
    position: relative;
    z-index: 1000;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 18px;
  }

  #nav-icon1 span:nth-child(3) {
    top: 36px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .number-items {
    position: absolute;
    top: 30px;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

/* home page laptop*/

.home-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, 300px);
  gap: 10px;
  grid-column-gap: 30px;

  grid-template-areas:
    ". slide slide slide slide slide slide slide slide ."
    ". rec rec rec rec rec rec rec rec ."
    ". r r r r r r r r .";
}

.slide-show {
  grid-area: slide;
  height: 80%;
  position: relative;
}

.slide-show > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* slideshow buttons */

.previous,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  z-index: 10;
  cursor: pointer;
}

.previous {
  left: 0.5%;
}

.next {
  right: 0.5%;
}

.previous i,
.next i {
  color: white;
  opacity: 0.8;
  font-size: 2rem;
}

/* recommended */

.rec {
  grid-area: rec;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  grid-column-gap: 2rem;
  margin-bottom: var(--spacing-standard);
  grid-template-areas:
    "title title title title title . . . "
    " ec ec ec ec ec ec ec ec";
}

.recently {
  grid-area: r;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  grid-column-gap: 2rem;
  margin-bottom: var(--spacing-standard);
  grid-template-areas:
    "title title title title title . . . "
    " ec ec ec ec ec ec ec ec";
}

.event-card-title {
  grid-area: title;
  grid-column: span 2;
}

.event-card {
  grid-area: ec;
  grid-column: span 2;
  padding: 0.8rem;
  padding-bottom: 1.5rem;

  background: white;
  border-radius: var(--border-radius-box);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.event-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.event-card p {
  margin: 0;
}

/* home page media screen phone */

@media screen and (max-width: 768px) {
  .event-card-title {
    grid-area: title;
    grid-column: span 4;
  }

  .event-card {
    grid-area: ec;
    grid-column: span 4;
  }
}

@media screen and (max-width: 527px) {
  .event-card-title {
    grid-area: title;
    grid-column: span 8;
  }

  .event-card {
    height: auto;
    padding: var(--spacing-small);
    grid-area: ec;
    grid-column: span 8;
  }

  .event-card img {
    width: 100%;
    height: 8em;
    object-fit: cover;
  }

  /* make this slideshow also for phone version */
}

/* event details media screen phone */

/* all events page */

.all-events-page {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 300px auto;
  gap: 10px;
  grid-template-areas:
    " . slide slide slide slide slide slide slide slide . "
    " . . . . . . . . . . "
    " . filter filter filter filter filter filter filter filter . "
    " . ec ec ec ec ec ec ec ec . "
    " . ec ec ec ec ec ec ec ec . ";
}

.all-events-container {
  grid-area: ec;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  grid-column-gap: 2rem;
  margin-bottom: var(--spacing-standard);
}

.event-container {
  grid-column: span 2;
  padding: 0.8rem;
  padding-bottom: 1.5rem;

  background: white;
  border-radius: var(--border-radius-box);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.event-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.event-name,
.event-tags,
.event-ps {
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
  color: black;
}

.date-time-place {
  padding: 10px;
  margin: 0;
  color: black;
}

.event-button {
  margin: 10px;
  align-self: flex-start;
}

.event-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;
}

.event-container p {
  margin: 0;
}

.filter-search {
  grid-area: filter;
  display: flex;
  justify-content: space-between;
}

.filter-input {
  display: flex;
}

.filter-search div {
  padding: 0rem 2rem 0rem 0rem;
}

.reset-button {
  grid-area: filter;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  align-items: center;
}

/* all events media screen phone */

@media screen and (max-width: 768px) {
  #all-events-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "slide slide slide slide"
      "filter filter filter filter"
      "ec ec ec ec";

    font-size: small;
  }
}

@media screen and (max-width: 688px) {
}

@media screen and (max-width: 527px) {
  #all-events-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "slide"
      "filter"
      "ec";
  }

  .event-container img {
    width: 100%;
    height: 8em;
    object-fit: cover;
  }
}

/* event details media screen phone */

/* event details media screen phone */

/* event detail page */

.event-detail-page {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  grid-template-areas:
    " . dt dt dt dt dt dt dt dt . "
    " . img img img img . tb tb tb . "
    " . . . . . . . . . . "
    " . det det det . . pr pr pr . ";
}

.detail-title-big {
  display: flex;
  padding: 0;
  margin: 0;
}

.detail-title-small {
  display: none;
  grid-area: dt;
  margin: 0;
}

.title-bio {
  grid-area: tb;
}

.front-img {
  grid-area: img;
  width: 100%;
}

.detail-details {
  grid-area: det;
}

.profile {
  grid-area: pr;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 20px;
  grid-template-areas:
    " h2 . . "
    " img od ratings "
    " btn btn btn ";
}

.profile-img {
  grid-area: img;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  justify-self: center;
  align-self: center;
}

.profile h2 {
  grid-area: h2;
  margin: 0;
}

.organizer-details {
  grid-area: od;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile p {
  margin: 0;
}

.ratings {
  grid-area: ratings;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
}

.profile button {
  grid-area: btn;
  width: 100%;
  height: 100%;
}

/* event details tablet */

@media screen and (max-width: 979px) {
  .event-detail-page {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas:
      " . dt dt dt dt dt dt dt dt . "
      " . img img img img img img img img . "
      " . tb tb tb tb tb tb tb tb . "
      " . . . . . . . . . . "
      " . det det det . . pr pr pr . ";
  }

  .detail-title-big {
    display: none;
  }

  .detail-title-small {
    display: flex;
    grid-area: dt;
    margin: 0;
  }

  .title-bio {
    grid-area: tb;
    padding: var(--spacing-small);
  }

  .front-img {
    grid-area: img;
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }

  .detail-details {
    grid-area: det;
  }
  .profile {
    grid-area: pr;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 20px;
    grid-template-areas:
      " h2 h2 "
      " img img "
      " od ratings "
      " btn btn ";
  }

  .profile h2 {
    justify-self: center;
    align-self: center;
  }

  .profile-img {
    grid-area: img;
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    justify-self: center;
    align-self: center;
  }

  .profile button {
    grid-area: btn;
    width: 100%;
    height: 100%;
    padding: var(--spacing-small);
  }
}

/* event details phone */

@media screen and (max-width: 705px) {
  .event-detail-page {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas:
      " . dt dt dt dt dt dt dt dt . "
      " . img img img img img img img img . "
      " . tb tb tb tb tb tb tb tb . "
      " . . . . . . . . . . "
      " . det det det det det det det det . "
      " . pr pr pr pr pr pr pr pr . ";
  }

  .detail-details {
    padding: var(--spacing-small);
    font-size: small;
  }

  .detail-bio {
    font-size: small;
  }
}

/* event details media screen phone */

/* favorites page */

.favorites-page {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 300px auto;
  gap: 10px;
  grid-template-areas:
    " . filter filter filter filter filter filter filter filter . "
    " . ec ec ec ec ec ec ec ec . ";
}

/* footer */

footer {
  margin-top: var(--spacing-big);
  display: flex;
  align-items: center;
  background-color: #3e405b;
}

footer nav {
  width: 100%;
  box-sizing: border-box;
  margin: 0 var(--spacing-big) 0 var(--spacing-big);
  justify-items: flex-end;
}

footer ul {
  display: flex;
  flex-direction: column;
  color: black;
  list-style: none;
  padding-left: 0;
  padding-right: var(--spacing-big);
  align-items: center;
  height: 100%;
}

footer li {
  padding: 1em;
}

footer a {
  text-decoration: none;
  color: var(--green);
  text-align: center;
}

footer img {
  width: 8em;
  margin: var(--spacing-big);
  padding-left: var(--spacing-big);
}

@media screen and (max-width: 713px) {
  footer {
    margin-top: var(--spacing-big);
  }

  footer nav {
    margin: 0 var(--spacing-small) 0 var(--spacing-small);
    padding-right: var(--spacing-small);
  }

  footer ul {
    padding-left: 0;
    padding-right: var(--spacing-small);
  }

  footer a {
    text-decoration: none;
    font-weight: var(--font-weight-thin);
    font-size: var(--font-size-small);
    color: var(--green);
    text-align: center;
  }

  footer img {
    width: 4em;
    margin: 0;
    padding-left: var(--spacing-big);
  }
}
