:root {
  --green: #80b299;
  --red: #e17a5f;
  --blue: #3e405b;
  --cream: #f4f1e0;
  color: black;

  --font-size-small: 0.875rem; /* 14px */
  --font-size-medium: 1rem; /* 16px */
  --font-size-large: 1.125rem; /* 18px */
  --font-size-Xlarge: 1.25rem; /* 20px */

  --font-weight-thin: 100;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --spacing-small: 1rem;
  --spacing-standard: 2rem;
  --spacing-big: 5rem;

  --border-radius-btn: 5px;
  --border-radius-box: 10px;
}

* {
  font-family: "omnes";
}

body {
  margin: var(--spacing-standard) 0 0 0;
}

h2 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
  color: #3e405b;
}

p {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  color: black;
}

.small {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-thin);
  color: black;
}

.button-1 {
  background-color: var(--green);
  border-width: 0;
  border-radius: var(--border-radius-btn);
  width: 6rem;
  height: 2rem;
}

.button-1:hover {
  transform: scale(1.05);
  font-weight: var(--font-weight-semibold);
}

.input-1 {
  border-width: 1px;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-btn);
  width: var(--spacing-big);
}

main {
  margin: var(--spacing-standard) 0 var(--spacing-standard) 0;
}

.hover-1 {
  transition: font-size 0.3s ease, font-weight 0.3s ease;
}

.hover-1:hover {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
}

.hover-2:hover {
  transform: scale(1.05);
  font-weight: var(--font-weight-semibold);
}

/* Header */

.desktop-header nav {
  width: 100%;
  box-sizing: border-box;
  padding: 0 var(--spacing-big) 0em var(--spacing-big);
}

.desktop-header ul {
  display: flex;
  flex-direction: row;
  color: black;
  list-style: none;
  padding: 0%;
  justify-content: space-between;
  align-items: center;
}

.desktop-header a {
  text-decoration: none;
  color: var(--blue);
  font-size: 20;
}

.desktop-header img {
  width: 4rem;
  margin-left: auto;
  margin-right: auto;
}

/* home page */

.home-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 10px;
  grid-column-gap: 10px;

  grid-template-areas:
    ". slide slide slide slide slide slide slide slide ."
    ". rec rec rec rec rec rec rec rec ."
    ". r r r r r r r r .";
}

.slide-show {
  grid-area: slide;
  height: 100%;
  position: relative;
}

.slide-show > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* slideshow buttons */

.previous,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  z-index: 10;
  cursor: pointer;
}

.previous {
  left: 0.5%;
}

.next {
  right: 0.5%;
}

.previous i,
.next i {
  color: white;
  opacity: 0.8;
  font-size: 2rem;
}

/* responsive > 760 */

/* recommended */

.rec {
  grid-area: rec;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  grid-column-gap: 10px;
  margin-bottom: var(--spacing-standard);
  grid-template-areas:
    "title title title title title . . . "
    " ec ec ec ec ec ec ec ec";
}

.event-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.event-card {
  grid-area: ec;
  grid-column: span 2;
}

.event-card p {
  margin: 0;
}

.event-card-title {
  grid-area: title;
  margin: 0;
}

.recently {
  grid-area: r;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  grid-column-gap: 10px;
  margin-bottom: var(--spacing-standard);
  grid-template-areas:
    "title title title title title . . . "
    " ec ec ec ec ec ec ec ec";
}

/* all events */

.all-events-page {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 300px auto;
  gap: 10px;
  grid-template-areas:
    " . slide slide slide slide slide slide slide slide . "
    " . . . . . . . . . . "
    " . filter filter filter filter filter filter filter filter . "
    " . ec ec ec ec ec ec ec ec . ";
}

.all-events-container {
  grid-area: ec;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 event cards per row */
  column-gap: 20px; /* 1-column space between cards */
  row-gap: 20px;
  padding: 20px;
  margin-left: -20px;
  margin-right: -20px;
}

.event-container {
  /* grid-column: span 2; */
  background: white;
  border-radius: var(--border-radius-box);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.event-container:hover {
  transform: scale(1.02);
}

.event-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.event-name,
.event-details,
.event-tags,
.event-ps {
  padding: 10px;
  margin: 0;
  color: black;
}

.event-button {
  margin: 10px;
  align-self: flex-start;
}

.filter-search {
  grid-area: filter;
  display: flex;
  justify-content: space-between;
}

.filter-input {
  display: flex;
}

.filter-search div {
  padding: 0rem 2rem 0rem 0rem;
}

/* event detail page */

.event-detail-page {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  grid-template-areas:
    " . img img img img . tb tb tb . "
    " . . . . . . . . . . "
    " . det det det . . pr pr pr . ";
}

.title-bio {
  grid-area: tb;
}

.detail-title {
  margin: 0;
}

.front-img {
  grid-area: img;
  width: 100%;
}

.detail-bio {
  grid-area: bio;
}

.detail-details {
  grid-area: det;
}

.profile {
  grid-area: pr;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 20px;
  grid-template-areas:
    " h2 . . "
    " img od ratings "
    " btn btn btn ";
}

.profile-img {
  grid-area: img;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  justify-self: center;
  align-self: center;
}

.profile h2 {
  grid-area: h2;
  margin: 0;
}

.organizer-details {
  grid-area: od;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile p {
  margin: 0;
}

.ratings {
  grid-area: ratings;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
}

.profile button {
  grid-area: btn;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 979px) {
  .profile {
    grid-area: pr;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 20px;
    grid-template-areas:
      " h2 h2 "
      " img img "
      " od ratings "
      " btn btn ";
  }

  .profile h2 {
    justify-self: center;
    align-self: center;
  }

  .profile-img {
    grid-area: img;
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    justify-self: center;
    align-self: center;
  }

  .profile button {
    grid-area: btn;
    width: 100%;
    height: 100%;
    padding: var(--spacing-small);
  }
}

/* footer */

footer {
  display: flex;
  align-items: center;
  background-color: #3e405b;
}

footer nav {
  width: 100%;
  box-sizing: border-box;
  margin: 0 var(--spacing-big) 0 var(--spacing-big);
  justify-items: flex-end;
}

footer ul {
  display: flex;
  flex-direction: column;
  color: black;
  list-style: none;
  padding-left: 0;
  padding-right: var(--spacing-big);
  align-items: center;
  height: 100%;
}

footer li {
  padding: 1em;
}

footer a {
  text-decoration: none;
  color: var(--green);
  text-align: center;
}

footer img {
  width: 8em;
  margin: var(--spacing-big);
  padding-left: var(--spacing-big);
}
